{% extends 'header.html' %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Details</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" value="{{user.fname}}" disabled>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" value="{{user.lname}}" disabled>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" value="{{user.email}}" disabled>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" value="{{user.mobile}}" disabled>
                        </div>
                        <br>
                    </div>
                    <h5 class="font-weight-semi-bold mb-4">Shipping Address</h5>
                        <table cellpadding="10" class="mb-10" >
                            {% for i in address %}
                            <div class="col-md-12 form-group d-flex" >
                                <tr >
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" name="address" class="custom-control-input" id="{{i.pk}}">
                                            <label class="custom-control-label" for="{{i.pk}}"  data-toggle="collapse" data-target="#shipping-address">{{i.address_1}}, {{i.address_2}}, <br> {{i.city}}-{{i.zipcode}}, {{i.state}}</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-3 px-5">
                                            <a href="{% url 'remove_address' apk=i.pk %}">
                                                <i class="fa fa-times"></i>
                                            </a>
                                                
                                        </div>
                                    </td>
                                </tr>
                                </div>

                                
                                {% endfor %}
                            
                        </table><br>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="radio" name="address" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Add another Address</label>
                            </div>
                        </div>
                </div>
                <form action="{% url 'add_address' %}" method="post">
                    {% csrf_token %}
                        <div class="collapse mb-4" id="shipping-address">
                        <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" name="address_1" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" name="address_2" placeholder="123 Street">
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" name="city" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" name="state" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" name="zipcode" placeholder="123">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Contry</label>
                            <input class="form-control" type="text" name="contry" placeholder="New York">
                        </div>
                    </div>
                    <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3"  type="submit">Add Address</button>                    
                    </div>
                </div>
            </div>            
        </form>                
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for i in carts %}
                        <div class="d-flex justify-content-between">
                            <p>{{i.product_qty}} X {{i.product.product_name}}</p>
                            <p> &#8377 {{i.total_prise}}</p>
                        </div>
                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">&#8377 {{total_billing}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">&#8377 50</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{total}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5"> 
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                <form method="post" action="{% url 'pay' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{total}}" name="payable_amount">
                    <div class="card-footer border-secondary bg-transparent">
                        
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place Order</button>
                    </div>
                </form>    
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->


</body>

</html>

{% endblock %}