{% extends 'header1.html' %}
{% load static %}

{% block content %}

<center>
    
    <h2 class="mb-4">Forgot Password</h2>
    {% if msg %}
			<p style='color:blue'>{{msg}}</p>
        {% endif %}

    <form name="otp" novalidate="novalidate" method="post" action="{% url 'otp_verify' %}">
        {% csrf_token %}
        
        <input type="hidden" name="email" value={{email}}>
        <input type="hidden" name="otp" value={{otp}}>

        <div class="control-group mb-4 col-lg-4">
            <input type="email" class="form-control"  name="v_otp" placeholder="Enter OTP"
                required="required" data-validation-required-message="Please enter OTP" />
                <p class="help-block text-danger"></p>
            
        </div>
        
        <div>
            <button class="btn btn-primary py-2 px-4 mb-4" type="submit" >Verify OTP</button>
        </div>

    </form>
    
</center>

{% endblock %}