{% extends 'seller_header.html' %}
{% load static %}

{% block content %}
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="font-weight-semi-bold text-uppercase mb-3"><span class="px-2">Add Your Product</span></h2>
        </div>
		<center>

			<!-- <div class="row px-xl-5"> -->
				<div class="col-lg-4 mb-5">
					<div class="contact-form">
                        {% if msg %}
						<p style='color:blue'>{{msg}}</p>
                        {% endif %}
                    <form name="product" novalidate="novalidate" method="post" action="{% url 'seller_add_product' %}" enctype="multipart/form-data">
						
                        {% csrf_token %}
                        <div class="control-group">
							<select name="product_category" class="form-control">
                                <option value="woman_wear">Woman's wear</option>
                                <option value="man_wear">Man's wear</option>
                                <option value="kid_wear">Kid's wear</option>

                            </select>
							</div><br>
						<div class="control-group">
							<input type="text" class="form-control"  name="product_name" placeholder="Your Product Name"
								required="required" />
								
								</div><br>
						
							<div class="control-group">
								<input type="text" class="form-control" name="product_prise" placeholder="Please enter price"
                                required="required"  />
                            
                        </div><br>

						<div class="control-group">
							<input type="text" class="form-control"  name="product_discount" placeholder="Enter discount"
								required="required"/>
								
								</div><br>
                                <div class="control-group  d-flex">
                                    {% for i in size %}
                                    <input type="checkbox" class="form-control" style="width:15px; margin-right: 10px;" name="product_size" value="{{i}}">
                                    <label style="align-self: flex-end; margin-right: 30px;"> {{i}}</label>
                                    {% endfor %}
                                    
                                </div><br>

                                <div class="control-group  d-flex">
                                    {% for i in color %}
                                    <input type="checkbox" class="form-control" style=" margin-right: 15px;" name="product_color" value="{{i}}">
                                    <label style="align-self: flex-end; margin-right: 30px;"> {{i}}</label>
                                    {% endfor %}
                                
                        </div><br>
                        <div class="control-group">

                            <textarea class="form-control" name="product_disc"  rows="3" placeholder="Enter Discription"></textarea>
                        </div><br>

						<div class="control-group">         
                        	<input type="file" class="form-control" name="product_image" placeholder="Select Product Image"/>
                            <p class="help-block text-danger"></p>
                        </div><br>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" >Add Product</button>
                        </div>
                    </form>
					
            </div>
           
    </div>

    <!-- Contact End -->
</center>


</body>
</html>
{% endblock %}