{% extends "header1.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
{% block content %}
<body>
  
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="font-weight-semi-bold text-uppercase mb-3"><span class="px-2">Signup Form</span></h2>
        </div>
		<center>

			<!-- <div class="row px-xl-5"> -->
				<div class="col-lg-4 mb-5">
					<div class="contact-form">
                        {% if msg %}
						<p style='color:blue'>{{msg}}</p>
                        {% endif %}
                    <form name="signup" novalidate="novalidate" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
						
                        {% csrf_token %}
                        <div class="control-group">
							<input type="text" class="form-control"  name="fname" placeholder="Your First Name"
                                required="required" data-validation-required-message="Please enter your first name" />
								<p class="help-block text-danger"></p>
							</div>
						<div class="control-group">
							<input type="text" class="form-control"  name="lname" placeholder="Your Last Name"
								required="required" data-validation-required-message="Please enter your last name" />
								<p class="help-block text-danger"></p>
								</div>
						
							<div class="control-group">
								<input type="email" class="form-control" name="email" placeholder="Your Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
						<div class="control-group">
							<input type="text" class="form-control"  name="mobile" placeholder="Your Mobile Number"
								required="required" data-validation-required-message="Please enter your mobile number" />
								<p class="help-block text-danger"></p>
								</div>
                        <div class="control-group">
							<input type="text" class="form-control" name="city" placeholder="Your city"
							required="required" data-validation-required-message="Please enter a your city" />
                            <p class="help-block text-danger"></p>
                        </div>

						<div class="control-group">         
                        	<input type="file" class="form-control" name="profile" placeholder="Select your Profile"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
							<input type="password" class="form-control" name="password" placeholder="Your password"
							required="required" data-validation-required-message="Please enter a your password" />
                            <p class="help-block text-danger"></p>
                        </div>
						<div class="control-group">
							<input type="password" class="form-control" name="cpassword" placeholder="Your Password Confirmation"
							required="required" data-validation-required-message="Please confirm your password" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">

                            <select name="usertype" class="form-control">
                                <option value="user" selected>User</option>
                                <option value="seller">Seller</option>
                                
                            </select>
                        </div><br>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" >Signup</button>
                        </div>
                    </form>
					<p style="margin:1.5em;">If already user, <a href="{% url 'login' %}">login</a></p>
                </div>
            </div>
           
    </div>

    <!-- Contact End -->
</center>

{% endblock %}
 </body>
</html>
